In [8]:
#import libraries
import pandas as pd
import numpy as np

In [9]:
#read data
car_ads = pd.read_csv('cars_workshop.csv')

In [10]:
car_ads.sample(20)

,Unnamed: 0,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,state,price_usd,number_of_photos
28171,29169,BMW,725,automatic,black,450000,1996,diesel,2.5,sedan,False,owned,4400.00,7
17899,18655,Volkswagen,Passat,mechanical,grey,490000,1989,gasoline,1.8,sedan,False,owned,1000.00,2
17287,18043,Volkswagen,Golf,mechanical,other,300000,2001,gasoline,1.6,universal,False,owned,4000.00,6
18627,19383,Jeep,Cherokee,mechanical,black,280000,1995,diesel,2.5,suv,False,owned,3999.00,8
8941,9697,Ford,F150,automatic,black,220000,2011,gasoline,5.0,pickup,False,owned,18500.00,6
21665,22463,Toyota,Corolla,mechanical,blue,300500,2006,diesel,2.0,sedan,False,owned,5000.00,8
31739,32737,Skoda,Fabia,mechanical,white,170000,2003,gasoline,1.2,hatchback,False,owned,2800.00,2
3589,3809,Opel,Antara,automatic,black,232000,2007,diesel,2.0,suv,False,owned,10500.00,13
4082,4302,Opel,Omega,automatic,green,300000,1994,gasoline,2.0,universal,False,owned,2100.00,8
24618,25616,Hyundai,Elantra,mechanical,violet,200000,2007,gasoline,1.6,sedan,False,owned,5399.00,6
1794,2014,Opel,Zafira,mechanical,silver,406000,1999,diesel,2.0,minivan,False,owned,3462.01,29
29843,30841,Mazda,626,mechanical,silver,360000,1993,gasoline,1.8,hatchback,False,owned,600.00,3
26131,27129,Nissan,Primera,mechanical,blue,340000,1995,gasoline,1.6,sedan,False,owned,800.00,5
27649,28647,BMW,328,automatic,black,68000,2015,gasoline,2.0,sedan,False,owned,19728.73,29
31461,32459,Skoda,Octavia,mechanical,blue,181000,2015,diesel,2.0,universal,False,owned,13500.00,18
25503,26501,Nissan,Primera,mechanical,green,300000,1996,diesel,2.0,sedan,False,owned,1100.00,6
28688,29686,BMW,316,mechanical,black,290000,1999,gasoline,1.9,sedan,False,owned,3999.00,8
2448,2668,Opel,Astra,mechanical,white,270000,1996,diesel,1.7,universal,False,owned,600.00,2
33605,34603,Mercedes-Benz,GL550,automatic,black,200000,2008,gasoline,5.5,suv,False,owned,12800.00,7
31227,32225,Skoda,Superb,automatic,black,75000,2016,gasoline,1.8,hatchback,False,owned,20900.00,14

*Issues with the data:* First column is basically an index column. We don't need that. Nothing else looks odd.

In [11]:
#Drop the unnamed column using .drop() and axis = 1 to represent columns.
car_ads = car_ads.drop(car_ads.columns[0],axis=1)

In [12]:
#The unwanted column is gone now
car_ads.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,state,price_usd,number_of_photos
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,2.5,universal,False,owned,10900.00,9
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,3.0,universal,False,owned,5000.00,12
2,Subaru,Forester,automatic,red,402000,2001,gasoline,2.5,suv,False,owned,2800.00,4
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,3.0,sedan,False,owned,9999.00,9
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,2.5,universal,False,owned,2134.11,14

In [13]:
#Pull distinct manufacturer's
unique_manufacturer = car_ads['manufacturer_name'].unique()