In [ ]:
#import libraries
import pandas as pd
import numpy as np

In [ ]:
#read data
car_ads = pd.read_csv('cars_workshop.csv')

In [ ]:
car_ads.sample(20)

*Issues with the data:* First column is basically an index column. We don't need that. Nothing else looks odd.

In [ ]:
#Drop the unnamed column using .drop() and axis = 1 to represent columns.
car_ads = car_ads.drop(car_ads.columns[0],axis=1)

In [12]:
#The unwanted column is gone now
car_ads.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,state,price_usd,number_of_photos
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,2.5,universal,False,owned,10900.00,9
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,3.0,universal,False,owned,5000.00,12
2,Subaru,Forester,automatic,red,402000,2001,gasoline,2.5,suv,False,owned,2800.00,4
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,3.0,sedan,False,owned,9999.00,9
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,2.5,universal,False,owned,2134.11,14

In [14]:
car_ads['age'] = 2024 - car_ads['year_produced']
car_ads.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,state,price_usd,number_of_photos,age
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,2.5,universal,False,owned,10900.00,9,14
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,3.0,universal,False,owned,5000.00,12,22
2,Subaru,Forester,automatic,red,402000,2001,gasoline,2.5,suv,False,owned,2800.00,4,23
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,3.0,sedan,False,owned,9999.00,9,25
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,2.5,universal,False,owned,2134.11,14,23

In [ ]:
#Pull distinct manufacturer's
unique_manufacturer = car_ads['manufacturer_name'].unique()

In [11]:
#assign min and max year to functions for the year slider on the app
min_year = int(car_ads['year_produced'].min())
max_year = int(car_ads['year_produced'].max())